<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="header">

            <img src="/static/images/logo.png" width="100px">
    </div>
            <h1> Welcome to Laksh IT Solution</h1>
    <hr>
    <center>
        <a class="btn btn-primary"> Home </a>
        <a href="/about" class="btn btn-primary"> About Us </a>
        <a href="/contact" class="btn btn-primary"> Contact Us </a>
        <a href="/reg" class="btn btn-primary"> Registration </a>
        <a href="" class="btn btn-success"> Login </a>

        <a href="/square" class="btn btn-primary"> Square Ex. </a>

    </center>
    <hr>

    <br> <br>
    <img src="/static/images/maharaj.png" width="250px" />
    <br>
  <marquee>
        <img src="/static/images/bird.gif" />
  </marquee>
</body>
</html>