<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



</head>
<body>
      <h1> Registration</h1>
<form action="/success" method="post" >
            Name  <input type="text" name="txtName" class="form-control">
      <br>
            Email ID <input type="text" name="txtEmail" class="form-control">
      <br>
            Mobile <input type="text" name="txtMobile" class="form-control">
      <br>
          <input type="submit" value="Register Now" class="btn btn-warning">
</form>

</body>
</html>